body {
  background-color: rgb(0, 213, 213);
}

.container {
  background-color: rgb(0, 213, 213);
  margin: 0 auto;
  display: grid;
  justify-content: center;
}

img.banner {
  display: block;
  max-width: 100%;
}
/* .banner {
  grid-row: 2 / 2;
  grid-column: 2 / 4;
  justify-content: center;
  text-align: center;
} */
/* :hover {
  /* use this for something */
/* } */

/* .submitbox {
  display: grid;
  justify-content: center;
} */

/* .banner {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  margin: auto;
  /* text-align: center; */
h1,
form {
  text-align: center;
}

div.character-name {
  text-align: center;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  list-style: none;
  padding: 0;
}

.backhome:hover,
.aboutme:hover {
  background-color: lime;
}

li img {
  border-radius: 15px;
  /* padding: 10px;
  border: 2px; */
}

div.aboutme {
  display: inline;
}

@media screen and (max-width: 600px) {
  .submitbox {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .buttonsearch {
    width: 180px;
  }
}
